ZedBoard_Linux_Design/hw/xps_proj/SDK/SDK_Export/hw/imgs/superip_0.jpg
ZedBoard_Linux_Design/hw/xps_proj/SDK/SDK_Export/hw/imgs/superip_0.svg
ZedBoard_Linux_Design/hw/xps_proj/__xps/ise/_xmsgs/
ZedBoard_Linux_Design/hw/xps_proj/hdl/
ZedBoard_Linux_Design/hw/xps_proj/implementation/
ZedBoard_Linux_Design/hw/xps_proj/pcores/superip_v1_00_a/hdl/vhdl/Experiment_coefficients2.txt
ZedBoard_Linux_Design/hw/xps_proj/platgen.log
ZedBoard_Linux_Design/hw/xps_proj/synthesis/
boot_image/
driver/.superip.ko.cmd
driver/.superip.mod.o.cmd
driver/.superip.o.cmd
driver/.tmp_versions/
driver/Module.symvers
driver/modules.order
driver/superip.ko
driver/superip.mod.c
driver/superip.mod.o
driver/superip.o
generate.log
linux-digilent/
sd_card_files/
u-boot-digilent/


!.gitignore
!*/
