body {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #195573;
}
#wrapper {
	margin: auto;
	width: 500px;
}
#channel_selection {
	color: #195573;
	font-family: sans-serif;
	font-size: 11px;
	font-weight: bold;
	width: 100px;
}

#but_ton {
	float: right;
	margin-right: 25px
}

#channel_knob {
	width:  100px; 
	height: 100px;
}

.hslider {
	width: 400px;
	margin: auto;
	margin-bottom: 20px; 
}

.vol_label {
	float: left;
	margin-left: 12px ;
}

#balance_wrapper {
	margin-top: 30px;
}
#lb_label {
	float: left;
	margin: 0 20px 0 20px;
}
#balance {
	float: left;
}
#rb_label {
	float: left;
	margin: 0 20px 0 20px;
}

#lock_wrapper {
	margin: 10px;
}

#eq span {
    height:200px; 
	float:left; 
	margin-left: 32px;
}
#eq_labels span {
	float:left;
	margin-left: 25px;
}
#gainn span {
    height:200px; 
	float:right; 
	margin-right: 32px;
}
#gain_labels span {
	float: right;
	margin-right: 25px
}

.clear {
	clear: both;
}